$footer-height: 40px;
$padding: 16px;
$max-width: 1024px;

html {
  height: 100%;
}

body {
  font-family: "EB Garamond", "Times New Roman", "serif";
  word-wrap: break-word;
  color: #333;
  height: 100%;
  max-width: $max-width;
  margin: auto;
  padding-left: $padding;
  padding-right: $padding;
  -webkit-text-size-adjust: 100%;
}

p {
  text-align: justify;
}

#default-container {
  min-height: 100%;
  position: relative;
}

#default-header {
  padding-top: $padding;
}

#default-content {
  padding-bottom: $padding + $footer-height;
}

#default-footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  padding-bottom: $padding;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

img, figure {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  &.tiny { width: 200px; }
  &.small { width: 400px; }
  &.medium { width: 600px; }
  &.large { width: 800px; }
  &.huge { width: $max-width; }
}

code.language-plaintext {
  padding-left: 2px;
  padding-right: 2px;
  background: #DDD;
  border-radius: 4px;
}

nav a {
  margin-right: 16px;
}

a {
  &:link, &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: red;
  }
}

.rss-link {
  text-align: right;
  font-size: smaller;
}

footer div {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
}

hr {
  border: none;
  height: 1px;
  background: #AAA;
}
