body {
  max-width: 1024px;
  margin: 16px auto;
  font-family: "EB Garamond", "Times New Roman", "serif";
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
}

code.language-plaintext {
  padding-left: 2px;
  padding-right: 2px;
  background: #DDD;
  border-radius: 4px;
}
