body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
  font-family: "EB Garamond", "Times New Roman", "serif";
  word-wrap: break-word;
  color: #333;
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
}

code.language-plaintext {
  padding-left: 2px;
  padding-right: 2px;
  background: #DDD;
  border-radius: 4px;
}

nav a {
  margin-right: 16px;
}

a {
  &:link, &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: red;
  }
}
