@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-variation-settings: "wght" 400;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-variation-settings: "wght" 600;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-style: "wght" 400;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-style: "wght" 600;
}
