.post-title {
  margin-bottom: 0px;
}

.post-publish-date {
  margin-bottom: 10px;
}

.post-header-image {
  margin: 0px;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  figcaption {
    font-style: italic;
  }
}

.posts-list {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 30px;

    h2 {
      margin: 0;
    }
  }
}