<!doctype html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <div id="default-container">
    <div id="default-header">
      {% unless page.no_header_footer %}
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
      </nav>
      {% endunless %}
    </div>

    <div id="default-content">
      {{ content }}
    </div>

    <div id="default-footer">
      {% unless page.no_header_footer %}
      <footer>
        <small>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.copyright }}</small>
      </footer>
      {% endunless %}
    </div>
  </div>
</body>

</html>
