<!doctype html>
<html lang="en">

<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feed.xml">
</head>

<body>
  <div id="default-container">
    <div id="default-header">
      {% unless page.no_header_footer %}
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
      </nav>
      {% endunless %}
    </div>

    <div id="default-content">
      {{ content }}
    </div>

    <div id="default-footer">
      {% unless page.no_header_footer %}
      <footer>
        <div><small>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.copyright }}</small></div>
        <div><small>PGP: 6CF3&nbsp;3595&nbsp;1E54&nbsp;1ED2&nbsp;3C66&nbsp;1444&nbsp;CEDA&nbsp;0AA8&nbsp;3DE2&nbsp;A2CB</small></div>
      </footer>
      {% endunless %}
    </div>
  </div>
</body>

</html>
