---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<div class="post-publish-date">Published {{ page.date | date: "%A, %B %d, %Y" }}</div>
{% if page.header_image %}
<figure class="post-header-image">
  <img src="{{ page.header_image }}">
  {% if page.header_image_caption %}
  <figcaption>{{ page.header_image_caption }}</figcaption>
  {% endif %}
</figure>
{% endif %}
<section class="post-content">
  {{ content }}
</section>

<div class="source-edit-history">
  <a href="{{ site.source_url }}/raw/{{ site.source_branch }}/{{ page.path }}">Source</a>&nbsp;
  <a href="{{ site.source_url }}/edit/{{ site.source_branch }}/{{ page.path }}">Edit</a>&nbsp;
  <a href="{{ site.source_url }}/commits/{{ site.source_branch }}/{{ page.path }}">History</a>
</div>
